#app{
    padding: 100px 20px;
    color:#4c4e53;
    // .carousel{
    //     transform: scale(0.3);
    // }
    .swiperContainer{
        height: 320px;
        width: 650px;
        // border: 1px solid black;
        position: relative;
        .buttonContainer{
            width: 100%;
            position: absolute;
            height: 100%;
            font-size: 32px; 
            div{
                z-index: 11;
                cursor: pointer;
            }
        }
    }

    .swiper-container-thumbs{
        width: 2380px;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .my-container-thumbs{
        transform: scale(0.4);
        overflow: hidden;
        position: relative;
        top: -50px;
    }

    .thumbItem{
        border: #ff9800 2px solid;
        border-radius: 10px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
    }
    .slide-thumb-active{
        border: 2px solid blue;
        border-radius: 10px;
    }
    
    .carouselItem{
        border: #ff9800 2px solid;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 10px;
        width: 550px;
        height: 320px;;
        .showDetail{
            cursor: pointer;
            font-size: 14px;
            color:#3ea5d8;
            position: absolute;
            right: 60px;
            bottom: 10px;
            &:hover{
                color: #217df3;
            }
        }
    }
    .leftSide{
        width: 40%;
        height: 300px;
        p{
            margin: 10px;
        }
        img{
            width: 140px;
            height:180px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
        }
        .name{
            color: #ff9800;
            font-size: 20px;
            font-weight: bold;
        }
        .title{
            font-size: 16px;
        }
    }
    .rightSide{
        width: 60%;
        height: 260px;
        p{
            margin:10px;
            overflow: hidden;
            width: 90%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .percent{
        margin: 20px;
        font-size: 22px;
        em{
            color: #ff9800;
            font-style: normal;
        }
    }
}

.detailDialog{
    max-height: 600px;
    overflow-y: auto;
    img{
        display: inline-block;
        width: 140px;
        height: 180px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
    }
    .popName{
        color: #ff9800;
        font-size: 16px;
        font-weight: bold;
    }
}
